<div class="container" style=" border-style: solid; width: 700px ">
<h6 style="text-align:center; font-size: 35px;">Forgot your password?</h6>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

    <div class="actions" style="margin-left :150px; font-color:#000000">
      <%= f.label :email,style: 'color: black;'  %><br />
      <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions" style="margin-left :150px; font-color:#000000">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
</div>
