<div class="container" style=" border-style: solid; width: 700px; ">
<h6 style="text-align:center; font-size: 35px;">Sign In</h6>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <div class="actions" style="margin-left :150px; font-color:#000000">

   <%= f.label :email %><br />
   <%= f.email_field :email, autofocus: true %>
 </div>

<div class="actions" style="margin-left :150px; font-color:#000000">
     <%= f.label :password %><br />
     <%= f.password_field :password, autofocus: true, autocomplete: "off"%>
  </div>


   <% if devise_mapping.rememberable? -%>
  <div class="actions" style="margin-left :150px; font-color:#000000">
     <%= f.check_box :remember_me %>
     <%= f.label :remember_me %>
   </div>
   <% end -%>



<div class="actions" style="margin-left :150px; font-color:#000000">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="actions" style="margin-left :150px; font-color:#000000"> <%= render "devise/shared/links" %></div>
</div>
