<div class="col-md-8 col-md-offset-2">
	<div class="message-show">
		<!-- <h2><%= @post.job_title %></h2> -->
		<p class="message-desc">Job: <%= @post.job_title %><br/>
			 Company: <%= (@post.company)%><br/> Location: <%= (@post.location) %><br/></p>
    <p class="message-des"> Name: <%= @post.your_name %> <br/>  Phone number:<%= (@post.phone) %><br/></p>
		<br/><p class="message-des"> Description: <br/> <%= @post.description %> <br /><br/></p>
		<br/><p> Salary: $<%= @post.salary %></p>
		<p class="message-des"> Job Type: <%=@post.job_type%> </p>

		<hr>


		 <div class="links btn-group">
			<%= link_to "Back", '/posts.1', class: "btn btn-default" %>
			<%= link_to 'Search company location', new_location_path,class: "btn btn-default" ,style:"margin-left:50px;" %>

              <% if current_user.id == @post.user_id %>
				<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
				<%= link_to "Delete",  post_path(@post),method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
		     <% end %>
		</div>
	</div>
	</div>
